*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
*.fls
*.bcf
*.run.xml

project_description/project_description.pdf

src/data
src/DTU/img1200x1600
src/DTU/reconstructions
src/DTU/img300x400
src/DTU/RobotEvalCode/CleanRecon_2009_11_16
src/DTU/results
