*.acn
*.acr
*.alg
*.asv
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.synctex.gz(busy)
*.toc
*.vrb
*.xdy
*.tdo
*.fls
*.bcf
*.run.xml
*.bib

*~

project_description/project_description.pdf

src/data
src/DTU/img1200x1600
src/DTU/img1200x1600_raw
src/DTU/img600x800
src/DTU/img300x400
src/DTU/results1200x1600
src/DTU/results600x800
src/DTU/reconstructions
src/octave-workspace
src/DTU/runCreatePathMat.m
src/startup.m

shell_scripts/
