*.acn
*.acr
*.alg
*.asv
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.synctex.gz(busy)
*.toc
*.vrb
*.xdy
*.tdo
*.fls
*.bcf
*.run.xml
*.bib

*~

project_description/project_description.pdf

src/data
src/DTU/img1200x1600
src/DTU/img1200x1600_raw
src/DTU/img600x800
src/DTU/img300x400
src/DTU/results1200x1600
src/DTU/results600x800
src/DTU/reconstructions
src/octave-workspace
src/DTU/runCreatePathMat.m
src/runCreatePathMat.m
src/paths.mat
src/startup.m
src/runTestVarArrayOld.m
src/runMoveHashes.m
src/moveHashes.m
src/imageHashOld.m
shell_scripts/
data
src/DTU/data.lnk
src/cellHistExample.mat
src/DTU/optimizeParams/L1norm.mat
src/DTU/optimizeParams/L2norm.mat
src/DTU/optimizeParams/enumOptimize_02-May-2014 05-36-47_gridType-gridSize-cellFilter.mat
src/figureTools/export_fig/.ignore/ghostscript.txt
src/figureTools/export_fig/.ignore/pdftops.txt
src/rectangleTest.m
src/runRectangle.m
src/libsvm
src/liblinear
src/svmNoArgs.mat
src/cellHistExampleGo.mat
src/cellHistExampleSi.mat
src/inriaDatasetFigures.mat
src/last_knn.mat
src/figureTools/export_fig/.ignore/
src/DTU/optimizeParams/results140602/parameterStudyGo_*-of-6.mat
src/DTU/optimizeParams/results140602/parameterStudySi_*-of-6.mat
src/runTestPdist2.m
src/results/inriaTestSvm*_*_*0000.mat
src/cellHistExampleGoInria.mat
src/cellHistExampleGoOld.mat
src/cellHistExampleSiOld.mat
src/table.txt
src/cellHistExampleGoInriaOld.mat

defence/img/slidingWindow/
src/cellHistExampleDefence.mat
defence/defence.pdf
defence/errata.pdf
